.contents{
    display: flex;
	width: 100%;
	flex-wrap: wrap;
    justify-content: space-around;
    padding: 3vw;



}
.filters{
    background: rgb(196, 194, 194);
    width:30vw ;
	display: flex;
    align-self: flex-start;
    flex-direction: column;
    padding: 20px;
}
.products{
    display: flex;
    width:45% ;
	height: 571px;
	background: rgb(35, 33, 33);
    align-self: flex-end;
}
.size{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}
.product-type{
    font-size: 25px;
    font-weight: 400;
}
